DOCKER_POSTGRES_PORT=5432
DOCKER_POSTGRES_DB=fund_watcher
DOCKER_POSTGRES_USER=postgres
DOCKER_POSTGRES_PASSWORD=postgres

DOCKER_BACKEND_PORT=8000
DOCKER_FRONTEND_PORT=5173
DOCKER_SYNC_NAV_CRON=18:00
DOCKER_ENABLE_SCHEDULER=false
DOCKER_AUTO_CREATE_TABLES=true

DOCKER_AI_PROVIDER=ollama
DOCKER_OLLAMA_BASE_URL=http://host.docker.internal:11434
DOCKER_OLLAMA_MODEL=qwen3:14b
DOCKER_OLLAMA_TIMEOUT=180
DOCKER_ONLINE_LLM_API_KEY=
